/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/05/2014, 23:54:32
    Author     : Or Maoz
*/

body
{
   background-color:#a58d3f;
   font-family: 'Lato', sans-serif;
}
img.imagelist
{
    max-width:100%;
}
ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
li
{
    margin-bottom: -200px;
}
h2
{
    color:#f7f7f7;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: lighter;
}
p
{
    color:#f7f7f7;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color:#f7f7f7;
}

.ui-page .ui-header {
    background: #ab8d3f !important;
}

/* Hide the number input */
.full-width-slider input {
    display: none !important;
}
.full-width-slider .ui-slider-track {
    margin-left: 15px;
}

#loading {
    background: url(../images/ajax-loader.gif) no-repeat center center;
    height: 50px;
    width: 50px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
    z-index: 1000;
    display:none;
}
#report {
    position: fixed;
    left: 10%;
    top: -50%;
    height: 40%;
    width: 80%;
    z-index: 1000;
}

#fakeOnePlace {
  position: fixed; 
  width: 100%; 
  height: 100%;
  background-image: url('../images/picturePlace.jpg');
  background-size: cover;
}
/*
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
*/
/*
#fakeOnePlace {
    display:none;
    overflow-y: hidden ! important;
    overflow-x: hidden ! important;
    background-color: #f8f8f8;
    background-image: url('../images/picturePlace.jpg');
    background-size: cover;
   
    background-repeat: no-repeat;
    background-position: right;
}*/

