
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<html>
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN"
"http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Blog-Magazine  webtemplate for high end mobiles, like samsung, nokia, lg, sony erricsson, htc mobile website templates for free | Home :: w3layouts</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="keywords" content="free Blog-Magazine Iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<link href="mobile/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="mobile/css/clndr.css" type="text/css" />
</head>
<body>
<div class="wrap">
<div class="wrapper">	
	<!-- start main -->
	<div class="main">
		<div class="sidebar">
				<div class="menu_box_list">
				      		<ul>
						  		<li><a href="#"> <i class="home"> </i><span>Home</span></a></li>
						  		<li><a href="#"> <i class="store"> </i> <span>Store</span></a></li>
						  		<li class="active"><a href="#"> <i class="blog"> </i> <span>Blog</span></a></li>
			  					<li><a href="#"> <i class="community"> </i><span>Community</span></a></li>
			  					<li><a href="#"> <i class="contest"> </i><span>Contest</span></a></li>
			  					<li><a href="#"> <i class="about"> </i> <span>About</span></a></li>
			  					<li><a href="#"> <i class="contact"></i> <span>Contact</span></a></li>
				    		</ul>
				    		<div class="clear"></div>
				      </div>
			<div class="sidebar_grid">
				<div class="grid_s">
				<div class="grid_img">
					<i class="phone"> </i>
				</div>
				<div class="grid_text">
					<p>(912) 555-1234</p>
					<p>(912) 555-5678</p>
				</div>
				<div class="clear"></div>
				</div>	
				<div class="grid_s1">
				<div class="grid_img">
					<i class="location"> </i>
				</div>
				<div class="grid_text">
					<p>1600 Pennsylvania</p>
					<p>Ave NW, Washington</p>
					<p>Dc 20500, USA</p>
				</div>
				<div class="clear"></div>
				</div>		
				<div class="grid_s1">
				<div class="grid_img">
					<i class="mail"> </i>
				</div>
				<div class="grid_text">
					<p><a href="">hello(at)website.com</a> </p>
					<p><a href="">office(at)website.com</a> </p>
				</div>
				<div class="clear"></div>
				</div>					
			</div>		
		</div>
		<div class="sidebar1">
			<div class="sidebar1_grid bg1">
				<h2 class="left style">tech</h2>
				<div class="right"> <i class="right-arrow"> </i></div>
				<div class="clear"></div>
				<ul class="nav2">
					<li><a href="#">Software and apps</a></li>
					<li><a href="#">Gadgets</a></li>
					<li><a href="#">Mobile</a></li>
				</ul>
			</div>
			<div class="sidebar1_grid bg2">
				<h2 class="left style">Entertainment</h2>
				<div class="right"><i class="right-arrow"> </i> </div>
				<div class="clear"></div>
				<ul class="nav2">
					<li><a href="#">Film</a></li>
					<li><a href="#">Gaming</a></li>
					<li><a href="#">Music</a></li>
					<li><a href="#">Sport</a></li>
				</ul>
			</div>
			<div class="sidebar1_grid bg1">
				<h2 class="left style">Business</h2>
				<div class="right"><i class="right-arrow"> </i></div>
				<div class="clear"></div>
				<ul class="nav2">
					<li><a href="#">Jobs</a></li>
					<li><a href="#">Marketing</a></li>
					<li><a href="#">Media</a></li>
				</ul>
			</div>		
			<div class="sidebar1_grid bg1">
				<h2 class="left style">Life Style</h2>
				<div class="right"><i class="right-arrow"> </i> </div>
				<div class="clear"></div>
				<ul class="nav2">
					<li><a href="#">Home</a></li>
					<li><a href="#">Health & Fitness</a></li>
					<li><a href="#">Travel & Leisure</a></li>
				</ul>
			</div>			
						
		</div>
		<div class="content">
			<div class="content_left">
				<ul class="nav3">
					<li><a class="facebook" href=""> <i class="facebook"></i><span>Facebook</span></a></li>
					<li class="active"><a class="twitter" href=""><i class="twitter"></i><span>Twitter</span></a></li>
					<li><a class="google" href=""><i class="google"></i><span>Google+</span></a></li>
					<li><a class="rss" href=""><i class="rss"></i><span>Rss Feeds</span></a></li>
					<li><a class="pinterest" href=""><i class="pinterest"></i><span>Pinterest</span></a></li>
					<div class="clear"></div>
				</ul>
			</div>
			<div class="content_right">
			 <div class="widgets">
					<div class="widget bg1">
						<a href="#">
						<img src="mobile/images/nav4_fb.png" alt="" />
						<ul class="nav4">
							<li class="left top"><span>156k</span></li>
							<li class="right"><a href=""> Follow <i class="plus"></i> </a></li>
							<div class="clear"></div>
						</ul>
						</a>
					</div>
				<div class="widget bg2">
				<a href="#">
					<img src="mobile/images/nav4_twt.png" alt="" />
					<ul class="nav4">
						<li class="left top"><span>89k</span></li>
						<li class="right"><a href=""> Follow <i class="follow"></i> </a></li>
						<div class="clear"></div>
					</ul>
				</a>
				</div>
				</div>
			</div>	
			<div class="clear"></div>
				<div class="content_btm">
					<div class="content_btm_grid" align="center">
						<h2>Sign in</h2>
						<p>just select your favorite social network to get started</p>
					</div>
					<ul class="nav5">
						<li><a href=""><i class="facebook"> </i></a></li>
						<li><a href=""><i class="twitter"> </i></a> </li>
						<li><a href=""><i class="googleplus"> </i> </a> </li>
						<li><a href=""><i class="likedin"> </i></a> </li>
						<div class="clear"></div>
					</ul>
				</div>		
				<div class="content_btm">
					<div class="content_btm_grid" align="center">
						<h2>join the newsletter</h2>
						<p>sign up for our personlized daily news letter</p>
					</div>
					 <div class="search1">
			    		<form>
			    			<input type="text" value="">
			    			<input type="submit" value="Sign up">
			    		</form>
					</div>


				</div>								
		</div>
		<div class="clear"></div>
	</div>
	<!-- end main -->
	<!------ Slider ------------>
		<div class="slider">
	                <img src="mobile/images/banner1.jpg" alt="" />
	    </div>
   		<!------End Slider ------------>
   		<!-- start content style   ---->
		<div class="content_left1">
			<div class="content_left1_grid" align="left">
				<div class="grid_left1">
					<div class="video">
					<i class="video-icon"> </i>
					</div>
				</div>
				<div class="grid_right1">
					<h3><a href="#">Best story you have ever heard </a></h3>
					<span>24 minutes ago</span>
					<p>Lorem lipsum dolor consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua......  <a href="#">Read more</a></p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="content_right1">
			<div class="video-player">
				<iframe src="//player.vimeo.com/video/31355402?title=0&amp;byline=0&amp;portrait=0&amp;color=68b3ff" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 	
			</div>
		</div>	
		<div class="clear"></div>
		<!-- start content_bottom style   ---->
		<div class="content_bottom">
		<!-- start sidebar_left   ---->
		<div class="sidebar_left">
			<div class="sidebar_left_grid" align="center">
				<div class="h_grid">
					<a href="#"> <i class="share"> </i></a>
					<h4>1,325</h4>
				</div>
				<div class="h_grid">
					<a href="#"> <i class="like"> </i></a>
					<h4>632</h4>
				</div>
				<div class="clear"></div>
			</div>
			<div class="grid_1_of_1">
				<div class="grid_1_of_1_text">
					<h3 class="left">Alex White <a href="">@alexWhite</a></h3>
					<div class="right">
						<i class="tick-arrow"> </i>
					</div>
					<div class="clear"></div>
				</div>
				<div class="para">
					<p class="">Singolo is a free PSD template of a flat, single page website created by <a href="">PsdChat #freebie #psd http://bit.ly/19XM8Lj</a> </p>
					<p class="top">2 hours ago</p>
				</div>
				<div class="para para1">
					<p class="">Saturday Career Workshops are back at ADC! See what high school students created this week: <a href="">http://bit.ly/Xx1EsL</a> </p>
					<p class="top">6 hours ago</p>
				</div>			
			</div>
			<div class="grid_1_of_2">
				<h4>What's Hot</h4>
				<div class="clear"></div>
				<div class="image group">
					<div class="grid images_3_of_1">
						<img src="mobile/images/blog1.jpg" alt="" />
					</div>
					<div class="grid span_2_of_3">
						<h3><a href="#">Aldus PageMaker including versions of Lorem Ipsum.</a> </h3>
						<p>3 minutes ago</p>
				   </div>
				   <div class="clear"></div>
			   </div>		
				<div class="image group">
					<div class="grid images_3_of_1">
						<img src="mobile/images/blog2.jpg" alt="" />
					</div>
					<div class="grid span_2_of_3">
						<h3><a href="#">Aldus PageMaker including versions...</a> </h3>
						<p>7 hours  ago</p>
				   </div>
				   <div class="clear"></div>
			   </div>
				<div class="image group">
					<div class="grid images_3_of_1">
						<img src="mobile/images/blog3.jpg" alt="" />
					</div>
					<div class="grid span_2_of_3">
						<h3><a href="#">Aldus PageMaker including versions of Lorem Ipsum.</a> </h3>
						<p>23 hours  ago</p>
				   </div>
				   <div class="clear"></div>
			   </div>
				<div class="image group">
					<div class="grid images_3_of_1">
						<img src="mobile/images/blog4.jpg" alt="" />
					</div>
					<div class="grid span_2_of_3">
						<h3><a href="#">Aldus versions of Lorem Ipsum....</a> </h3>
						<p>1 day ago</p>
				   </div>
				   <div class="clear"></div>
			   </div>			   			
				<div class="image group">
					<div class="grid images_3_of_1">
						<img src="mobile/images/blog5.jpg" alt="" />
					</div>
					<div class="grid span_2_of_3">
						<h3><a href="#">Aldus PageMaker including versions of Lorem Ipsum.</a> </h3>
						<p>2 day ago</p>
				   </div>
				   <div class="clear"></div>
			   </div>	
			</div>
			<div class="grid_1_of_2 box">
				<h3>Ask a Question</h3>
				<div class="searh_form">
					<form>
						<input type="text" value="" placeholder="your name" >
						<input type="text" value="" placeholder="hello@yourmail.com" class="active" >
						<textarea name="userMsg" value="" placeholder="Type your question"> </textarea>
						<input type="submit" value="submit" />
					</form>
				</div>
			</div>
		</div>
		<!-- end sidebar_left   ---->
		<!-- start sidebar_right   ---->
		<div class="sidebar_right">
			<div class="span_1_of_1">
			<div class="content_left1_grid" align="left">
				<div class="grid_left1">
					<div class="camera">
					<i class="camera-icon"> </i>
					</div>
				</div>
				<div class="grid_right1">
					<h4><a href="#">here's what instagram Ads will look loke</a></h4>
					<span>3 hours ago </span>
					<p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.sed do Ut enim ad minim venia. <br /> <a href="#">Read more</a></p>
				</div>
				<div class="clear"></div>
			</div>
			</div>
			<div class="span_1_of_2">
				<img src="mobile/images/camera.jpg" alt="" />
			</div>			
			<div class="clear"></div>
			<div class="cal_of_storie">
			<!-- start calender  ---->
			<div class="column_right_grid calender">
                      <div id="calendar">
					<div class="c-title dark-gray-3level">
						<div class="left-button"><img src="mobile/images/arrow-left.png" alt=""> </div>						
						<div class="title">November 2013</div>
						<div class="right-button"><img src="mobile/images/arrow-right.png" alt=""></div>
						<div class="clear"></div>
					</div>

					<table class="c-days">
					   <tbody>
					   		<tr class="simple-lightgray">
					   			<td class="other-month"><span>27</span></td>
					   			<td class="other-month"><span>28</span></td>
					   			<td class="other-month"><span>29</span></td>
					   			<td class="other-month"><span>30</span></td>
					   			<td class="other-month"><span>31</span></td>
					   			<td><span>1</span></td>
					   			<td><span>2</span></td>					   			
					   		</tr>
					   		<tr class="simple-lightgray">
					   			<td><span>3</span></td>
					   			<td><span>4</span></td>
					   			<td><span>5</span></td>
					   			<td><span>6</span></td>
					   			<td><span>7</span></td>
					   			<td><span>8</span></td>
					   			<td><span>9</span></td>					   			
					   		</tr>
					   		<tr class="simple-lightgray">
					   			<td><span>10</span></td>
					   			<td><span>11</span></td>
					   			<td><span>12</span></td>
					   			<td><span>13</span></td>
					   			<td><span>14</span></td>
					   			<td><span>15</span></td>
					   			<td><span>16</span></td>					   			
					   		</tr>
					   		<tr class="simple-lightgray">
					   			<td><span>17</span></td>
					   			<td><span>18</span></td>
					   			<td><span>19</span></td>
					   			<td><span>20</span></td>
					   			<td><span>21</span></td>
					   			<td><span>22</span></td>
					   			<td class="today"><span>23</span></td>				   			
					   		</tr>
					   		<tr class="simple-lightgray">
					   			<td><span>24</span></td>
					   			<td><span>25</span></td>
					   			<td><span>26</span></td>
					   			<td><span>27</span></td>
					   			<td><span>28</span></td>
					   			<td><span>29</span></td>
					   			<td><span>30</span></td>
					   		</tr>
					   </tbody>
					</table>
				</div>
		   </div>
			<!-- end calender  ---->
			<!-- start stories  ---->
			<div class="stories">
			<a href="#">
				<div class="stories_text">
					<h3>view more stories</h3>
					<div class="btn1">
						<h4 class="btn_a" href=""></h4>
					</div>
				</div>	
			<div class="clear"></div>
			</a>		
			</div>
			<div class="clear"></div>
			<!-- end stories  ---->
			</div>
			<div class="span_1_of_3">
				<div class="span_1_of_3_img">
					<img src="mobile/images/new.jpg" alt=""/>
					<div class="span_1_of_3_grid" align="left">
						<div class="grid_left1">
							<div class="article">
								<i class="article-icon"> </i>
							</div>
						</div>
						<div class="span_1_of_3_text">
							<h3><a href="#"> What is lorem ipsum ? </a></h3>
							<p> when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.... <a href="#">Read more</a></p>
							<ul class="span_1_of_3_nav">
								<li><a href=""><i class="share_icon"></i><span>569 Shares</span></a></li>
								<li><a href=""><i  class="view_icon"></i><span>3,152 Views</span></a></li>
								<li><a href=""><i class="coment_icon"></i><span>21 Comments</span></a></li>
								<div class="clear"></div>
							</ul>
						</div>
						<div class="clear"></div>
					</div>
					
				</div>
			</div>
			<div class="span_1_of_4">
				<div class="span_1_of_4_grid" align="left">
						<div class="grid_left1">
							<div class="quote">
								<i class="quote-icon"> </i>
							</div>
						</div>
				<div class="span_1_of_4_text">
					<h3>"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500 "</h3>
				</div>
				<div class="clear"></div>
			</div>
			</div>
		<!-- start responsive tabs -->

 		<div class="sap_tabs">	
			<div id="horizontalTab">
			  <ul class="resp-tabs-list">
			  	  <li><a href="#tab1">About</a></li>
			  </ul>				  	 
				<div class="resp-tabs-container">
					<div class="tab-1">
						    <div class="facts">
							<h3>About us</h3>
				           <p>Resurgent economies, continuing growth in service industries and increasing globalization present a set of complex and intriguing challenges to businesses operating in this environment.</p>
			           </div>
				        </div>	
		        </div>
	        </div>
  		  </div>
  		  <div class="sap_tabs">	
			<div id="horizontalTab">
			  <ul class="resp-tabs-list">
			  	  <li><a href="#tab2">Team</a></li>
			  </ul>				  	 
				<div class="resp-tabs-container">
					 <div class="tab-2">
					 	 <div class="facts">
						<h5 class="tab_style tab_left">
							<div class="tab_img tab_left">
								<img src="mobile/images/tab_pic1.jpg" alt="">
							</div>
							<div class="tab_txt">
								<h3>Anne Hathaway</h3>
								<h4>CEO/ Founder</h4>
							</div>
							<div class="clear"></div>
							<p>Along with the impending outlook towards business expansion and growth, it is critical for companies .</p>
							<a class="mail" href="">@annehathway</a>						
						</h5>
						<h6 class="tab_style tab_right">
							<div class="tab_img tab_left">
								<img src="mobile/images/tab_pic2.jpg" alt="">
							</div>
							<div class="tab_txt">
								<h3>kate Upton</h3>
								<h4>CO-Founder</h4>
							</div>
							<div class="clear"></div>
							<p>Along with the impending outlook towards business expansion and growth, it is critical for companies .</p>
							<a class="mail" href="">@kateupton</a>
						</h6>
						<div class="clear"></div>
						</div>
					</div>
		        </div>
	        </div>
  		  </div>
  		  <div class="sap_tabs">	
			<div id="horizontalTab">
			  <ul class="resp-tabs-list">
			  	  <li><a href="#tab3">Contact</a></li>
			  </ul>				  	 
				<div class="resp-tabs-container">
				      <div class="tab-3">
						<div class="facts">				      	 	
								<div class="contact-form">
						       <form method="post" action="contact-post.html">
							    	<div>
								    	<label>name</label>
								    	<input name="userName" type="text" class="textbox">
								    </div>
								    <div>
								    	<label>e-mail</label>
								    	<input name="userEmail" type="text" class="textbox">
								    </div>
								    <div>
								     	<label>mobile</label>
								    	<input name="userPhone" type="text" class="textbox">
								    </div>
								    <div>
								    	<label>subject</label>
								    	<textarea name="userMsg"> </textarea>
								    </div>
								   <div>
								   		<span><input type="submit" value="Send Us"></span>
								  </div>
						    </form>
				    </div>
				         </div>		              				             
				      </div>
		        </div>
	        </div>
  		  </div>
	</div>			
   <div class="clear"></div>
</div>
<!-- end wrapper   ---->
</div>
</div>
		<div class="copy-right">
			<div class="wrap">
				<p>© 2013 Template by <a href="http://w3layouts.com" target="_blank">w3layouts</a> </p>
	 	    </div>
	 	 </div>
</body>
</html>