<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Willamette &mdash; Terms of Use</title>
<meta name="description" content="Page description goes here">

<!-- ******************************************************************************************
Set the type and color theme here - the Pro version contains additional themes -->
<link href="css/willamette_type1_color1.css" rel="stylesheet">
<!--  ************************************************************************************* -->

<link href="css/font-awesome.min.css" rel="stylesheet">
<script src="js/vendor/modernizr.js"></script>

</head>
<body>

<header>
	<div class="row">
		<div class="small-12 medium-12 large-12 columns">
			<h2><a href="index.html">Willamette</a></h2>
			<!--
			<div class="logo">
				<a href="index.html"><img src="img/logo.png" alt="Willamette" /></a>
			</div>
			-->
		</div>
	</div>
</header>

<nav>
	<div class="row">
		<div class="small-12 medium-12 large-12 columns">			
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About Us</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class=" section-bg-color1 ">
	<div class="row first-row">
		<div class="small-12 medium-8 large-7 columns small-centered">
			<h3>Terms of Use</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis massa vel interdum faucibus. Praesent elementum arcu nec est lacinia tincidunt. Fusce feugiat magna purus. Fusce diam metus, tincidunt eu velit eu, lacinia egestas lorem. Proin vehicula condimentum metus at luctus. Nunc eleifend gravida velit sit amet pharetra. Sed id justo a diam consequat dapibus eget nec magna. Suspendisse in lorem eget arcu tincidunt pharetra non eleifend felis. Sed consectetur dignissim mi non blandit.
			</p>
			<h4>Subheader Text One</h4>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis massa vel interdum faucibus. Praesent elementum arcu nec est lacinia tincidunt. Fusce feugiat magna purus. Fusce diam metus, tincidunt eu velit eu, lacinia egestas lorem. Proin vehicula condimentum metus at luctus. Nunc eleifend gravida velit sit amet pharetra. Sed id justo a diam consequat dapibus eget nec magna. Suspendisse in lorem eget arcu tincidunt pharetra non eleifend felis. Sed consectetur dignissim mi non blandit.
			</p>
			<h4>Subheader Text Two</h4>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis massa vel interdum faucibus. Praesent elementum arcu nec est lacinia tincidunt. Fusce feugiat magna purus. Fusce diam metus, tincidunt eu velit eu, lacinia egestas lorem. Proin vehicula condimentum metus at luctus. Nunc eleifend gravida velit sit amet pharetra. Sed id justo a diam consequat dapibus eget nec magna. Suspendisse in lorem eget arcu tincidunt pharetra non eleifend felis. Sed consectetur dignissim mi non blandit.
			</p>
		</div>
	</div>
</div>

<footer class="section-bg-color2">
	<div class="row">
		<div class="small-12 medium-12 large-12 columns">
			<ul>
				<li>&copy; 2014 Your Name Here. All rights reserved.</li>
				<li><a href="terms.html">Terms of Use</a></li>
				
				<!-- *****************************************************************************************
				The "Powered by Type & Grids" link in the footer is required in the Free version
				typeandgrids.com/pirates -->
				<li>Powered by <a href="http://www.typeandgrids.com" target="_blank">Type &amp; Grids</a></li>
				<!--  ************************************************************************************ -->
				
			</ul>			
			<div class="social-icons">
				<a href="http://www.twitter.com/typeandgrids" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
<a href="http://www.facebook.com/typeandgrids" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
				<div class="footer-badge">
					<a href="index.html"><img src="img/footer-badge@2x.png" width="57" height="57" alt="Home" /></a>
				</div>
			</div>
		</div>
	</div>
</footer>

<script src="js/vendor/jquery.min.js"></script>
<script src="js/foundation.min.js"></script>
<script src="js/willamette.js"></script>

</body>
</html>